html, body {
  height: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overscroll-behavior: none;
  text-align: center;
  cursor: default;

}

body {
  background: rgb(252, 253, 253);
  font-weight: 100;
  color: #213058;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 700px auto;
  grid-template-rows: 150px auto 150px;
}

/*  SEARCH BAR   */
main.app__container__search {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

#search__input {
  background: rgb(252, 253, 253);
  color: #28696A;
  font-size: 28px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(244, 175, 63, 0.24);
  padding-left: 10px;
}

.search__btn {
  outline: none;
  border:none;
  background: url("../public/assets/searchicon.png");
  background-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/*   RESULTS VIEW SEARCH BAR   */
header {
  align-self: center;
  justify-self: flex-end;
  grid-column: 2/3;
}

/*   RESULTS VIEW   */
main.results {
  grid-column: 2/3;
  grid-row: 2/3;
}

.results__event {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.results__event__date{
  color: #28696A;
  box-sizing: border-box;
  font-size: 34px;
  font-weight: 500;
  width: 170px;
  padding: 0px 10px 0px 0px;
  text-align: right;
  border-right: 1px solid rgba(244, 175, 63, 0.74);
}

.results__event__desc {
  box-sizing: border-box;
  padding-top: 10px;
  margin-left: 20px;
  text-align: left;
  word-wrap: break-word;
  width: 530px;
}

/*   FOOTER    */
footer {
  justify-self: center;
  align-self: center;
  margin-bottom: 40px;
  grid-column: 2/3;
  grid-row: 3/4;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row
}

li {
  margin: 3px;
  width: 28px;
  border-radius: 3px;
  background: rgba(244, 175, 63, 0.74);
  cursor: pointer;
}

li a:focus {
  outline: none;
}

